body.auth-page {
  background:  linear-gradient(to top right, #F2F2F2, #038C4C);;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 8rem;
}

.form-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: 450px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-content {
  padding: 40px;
  text-align: center;
}

.form-content h1 {
  padding: 10px;
  font-size: xx-large;
  font-weight: bold;
  color: #038C4C;
}

.form-content label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

.form-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-content button {
  background-color: #038C4C;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.form-content button:hover {
  background-color: #027a41;
}


.form-btn {
  background-color: #038C4C;
  color: #fff;
  margin: 2rem 0 2rem 0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 16px;
}

.form-btn:hover {
  background-color: #027a42;
}

.form-link a {
  text-decoration: none;
  color: #038C4C;
  font-weight: 500;
}

.mensagem {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.mensagem.sucesso {
  background-color: #d4edda;
  color: #155724;
}

.mensagem.erro {
  background-color: #f8d7da;
  color: #721c24;
}