.header {
  background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(3,140,76,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: 4px 2px 10px rgba(145,145,145,0.4);
}

.logo {
  color: #038C4C;
  font-size: 1.5rem;
  font-weight: 600;
}


.edit-layout-container {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
}

.edit-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 2rem;
  width: 100%;
  max-width: 900px;
  height: 65%;
}

.modificar-header {
  margin-bottom: 2rem;
}

.modificar-header h2 {
  color: #038C4C;
  font-size: 1.5rem;
}


.modificar-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input,
select,
textarea {
  padding: 0.6em;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

textarea {
  resize: vertical;
}

.full-width {
  grid-column: 1 / -1;
}

.btn-close {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    color: #2E2E2E;
    padding: 0.50rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.btn-close:hover {
    background-color: #E1E1E1;
}

.btn-close:active {
    background-color: #CDCDCD;
}

.fc-tooltip {
  position: absolute;
  z-index: 10000;
  background: #fff;
  border-top: 4px solid #27ae60;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 1rem;
  max-width: 220px;
  font-size: 0.875rem;
  line-height: 1.4;
  pointer-events: none;
}


.modal-reserva {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
  z-index: 9999;
}

.modal-reserva-content {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  width: 80vw;
  max-width: 900px;
  overflow: hidden;
}
